<button class="btn btn-default" type="button" (click)="newForm()" *ngIf="!displayForm">New Form</button>

<div class="container" *ngIf="displayForm">
  <div>
    <form class="form-horizontal" (ngSubmit)="onSubmit()" #siteForm="ngForm">
      <fieldset>
        <legend>Assign New Form</legend>

        <div class="form-group">
          <label class="col-md-4 control-label" for="xf">Select Form</label>

          <div class="col-md-4">
            <select class="form-control" id="xf" name="xf" required
            [(ngModel)]="model.xf" #xf="ngModel" >
              <option *ngFor="let xf of shared_levels" [value]="xf.id">{{xf.type}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="formtype">Select Form Type </label>

          <div class="col-md-4">
            <select class="form-control" id="formtype" name="formtype" required
            [(ngModel)]="formType" (change)="onChange($event.target.value)">
              <option value="1">Staged </option>
              <option value="2">Scheduled </option>
              <option value="3">Normal </option>
            </select>
          </div>
        </div>

        <div class="form-group" *ngIf="model.is_staged">
          <label class="col-md-4 control-label" for="stage">Select Stage</label>

          <div class="col-md-4">
            <select class="form-control" id="stage" name="stage" [(ngModel)]="model.stage" #stage="ngModel" >
              <option *ngFor="let xf of shared_levels" [value]="xf.id">{{xf.type}}</option>
            </select>
          </div>
        </div>

        <div class="form-group" *ngIf="model.is_scheduled">
          <label class="col-md-4 control-label" for="stage">Select Schedule</label>

          <div class="col-md-4">
            <select class="form-control" id="schedule" name="schedule" [(ngModel)]="model.stage" #schedule="ngModel" >
              <option *ngFor="let xf of shared_levels" [value]="xf.id">{{xf.type}}</option>
            </select>
          </div>
        </div>

         <div class="form-group">
          <label class="col-md-4 control-label" for="shared_level">Share This Form To</label>

          <div class="col-md-4">
            <select class="form-control" id="shared_level" name="shared_level"
            [(ngModel)]="model.shared_level" >
               <option value="1">Global </option>
              <option value="2">Organization </option>
              <option value="3">Private </option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-8">
            <button class="btn btn-success" id="button1id" name="button1id" type=
            "submit" [disabled]="!siteForm.form.valid">Save</button> 
            <button class="btn btn-danger" id="button2id"
            name="button2id" type="button" (click)="siteForm.reset()">Reset</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>


<div class="heroes" *ngIf="!displayForm">
  <div>
    Forms Assigned To This Site
  </div>


  <div *ngFor="let form of siteForms">
    <span>Name: <b>{{form.name}}</b></span> <span>Description:
    {{form.descriptionText}}</span> <span>Staged: {{form.is_staged}}</span>
    <span>Scheduled:{{form.is_scheduled}}</span> <a href=
    "http://localhost:8001/forms/reports/{{form.id}}">View Submission Data</a>
    <a href="http://localhost:8000/">Preview Form</a>
  </div>
</div>
<button>Back</button>