<button (click)="goBack()">Back</button>
<button (click)="showMainStages()" *ngIf="!showCreateMainStage">Main Stages</button>
<form class="form-horizontal" #mainStageForm="ngForm" *ngIf="showCreateMainStage">
<fieldset>

<!-- Form Name -->
<legend>Set Up Stages</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Stage {{order()}}</label>  
  <div class="col-md-6">
  <input id="textinput" name="textinput" type="text" placeholder="New Stage Name" class="form-control input-md" required [(ngModel)]="newStage.name" >
    
  </div>
    <label class="col-md-4 control-label" for="textinputDesc">Stage Description</label>  
  <div class="col-md-6">
  <input id="textinputDesc" name="textinputDesc" type="text" placeholder="Stage Description" class="form-control input-md"  [(ngModel)]="newStage.description" >
    
  </div>
  <div class="col-md-2">
	  <button class="btn btn-success" id="button1id" name="button1id" 
	         [disabled]="!mainStageForm.form.valid" (click)="onSubmit()">Save</button> 
  </div>
</div>




</fieldset>
</form>

<form class="form-horizontal" #mainStageDetailForm="ngForm" *ngIf="selectedMainStage">
<fieldset>

<!-- Form Name -->
<legend>Set Up Sub Stages</legend>
<div class="form-group">
  <label class="col-sm-6 control-label" >Stage - {{selectedMainStage.order}} {{selectedMainStage.name}}</label>  
  <label class="col-sm-6 control-label"> </label>  
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="sub">New Sub Stage</label>  
  <div class="col-md-4">
  <input id="sub" name="sub" type="text" placeholder="Sub Stage Name" class="form-control input-md" required [(ngModel)]="newSubStage.name">
</div>
</div>
<div class="form-group">
	<label class="col-md-4 control-label" for="subDesc">Sub Stage Description</label>  
 <div class="col-md-4">
  <input id="subDesc" name="subDesc" type="text" placeholder="Sub Stage Description" class="form-control input-md" [(ngModel)]="newSubStage.description">
</div>
 <div class="col-md-2">
	  <button class="btn btn-success" id="button1id" name="button1id" 
	         [disabled]="!mainStageDetailForm.form.valid" (click)="onSaveSubStage()">Save Sub Stage</button> 
  </div>
  </div>




</fieldset>
</form>
<div class="sub-stages" *ngIf="!showCreateMainStage">
    <div *ngFor="let stage of subStages">
    <div class="site-forms-list-single">
      <div class="col-md-12">
        <p><span>Order:</span> <b>{{stage.order}}</b></p> 
        <p><span>Name:</span> <b>{{stage.name}}</b></p> 
        <p><span>Description:</span>{{stage.description}}</p> 
        <p *ngIf="stage.form"><span>Form Assigned:</span>{{stage.form}}</p> 
        <p *ngIf="!stage.form"><button class="btn btn-success" (click)="openAssignForm(stage)">Assign Form</button></p> 
      </div>
      <div class="clearfixxx"></div>
    </div>
  </div>
</div>

<div class="main-stages" *ngIf="showCreateMainStage">
  <div *ngFor="let stage of siteStages" >
    <div class="site-forms-list-single">
      <div class="col-md-12" (click)="mainStageOnSelect(stage)"
      [class.selected]="stage === selectedMainStage">
        <p><span>Stage:</span> <b>{{stage.order}}</b></p> 
        <p><span>Name:</span> <b>{{stage.name}}</b></p> 
        <p><span>Description:</span>{{stage.description}}</p> 
      </div>
      <div class="clearfixxx"></div>
    </div>
  </div>
</div>



<modal #formModal>
    <modal-header >
        <h4 class="modal-title">Assign Form To Stage</h4>
    </modal-header>
    <modal-body>
         <div *ngFor="let xf of xForms" >
    <div class="site-forms-list-single">
      <div class="col-md-12" (click)="setFormAssigned(xf)"
      [class.selected]="true">
        <p><span>Name:</span> <b>{{xf.title}}</b></p> 
      </div>
      <div class="clearfixxx"></div>
    </div>
  </div>
    </modal-body>
    <modal-footer>
    <button class="btn btn btn-success" type="button" (click)="assignFormClose()">Save</button></modal-footer>
</modal>